#titulo {
color: purple; 
font-size: 80px;
text-align: center;
font-family: italic, Tahoma, Verdana;  
}

.tabla {
color: darkmagenta; 
font-size: 40px;
text-align: center;
font-family: oblique, Tahoma, Verdana;
border-style: solid;
border-radius: 20px;
padding: 20px;
margin: 50px;
background-color: pink;
}

body {
background-image: url("img/recetas.jpg");
}