#titulo {
    color: rgb(22, 188, 190); 
    font-size: 80px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    background-color: rgb(61, 53, 180);
    border-style: double;

    }

    img {
        position:static;
        box-shadow: 12px 10px 8px;
        border-radius: 50px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    .sub1 , .sub2 {

        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 5px;
        color: rgb(206, 136, 46);
    }

    .sub2 {
        font-size: 25px;
        color: rgb(110, 145, 49);
    }
    body {
        background-color: rgb(181, 225, 255);
        margin: 90px;
        margin-bottom: 80px;
    }

    #izquierda {
       
        color: rgb(79, 39, 97);
        width: 400px;
        float: left;
        padding: 5px;
    
    }

    #derecha {

       
        color: rgb(50, 65, 204);
        float: right;
        width: 600px;
        padding: 10px;
    }

#derecha , #izquierda {

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    box-shadow: 16px 12px 10px 15px;
    margin-bottom: 60px;
    margin-top: 60px; 
    display: block;

}